<footer id="footer">
    <div class="container footer-container">
        
        <div class="footer-grid">
            
            <div class="footer-col">
                <div class="footer-logo">
                    <img src="/assets/img/logos/logo-white.webp" alt="Kılıç Enerji Logo">
                </div>
                <p class="footer-desc">
                    Gelecek nesillere yaşanabilir bir dünya bırakmak için sürdürülebilir enerji ve dijital dönüşüm çözümleri üretiyoruz.
                </p>
            </div>

            <div class="footer-col">
                <h4>Kurumsal</h4>
                <ul class="footer-links">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li><a href="hakkimizda.html">Hakkımızda</a></li>
                    <li><a href="is-birligi.html">İş Birliği & Çözüm Ortakları</a></li>
                    <li><a href="sertifikalar.html">Sertifikalar</a></li>
                    <li><a href="sss.html">S.S.S.</a> </li>
                    <li><a href="kvkk.html">KVKK & Gizlilik</a> </li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Hizmetler</h4>
                <ul class="footer-links">
                    <li><a href="iklim-kanunu.html">İklim Kanunu</a></li>
                    <li><a href="karbon-ayak-izi.html">Karbon Ayak İzi</a></li>
                    <li><a href="surdurulebilir-enerji.html">Sürdürülebilir Enerji</a></li>
                    <li><a href="akilli-sehir.html">Akıllı Şehircilik</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Bize Ulaşın</h4>
                <ul class="contact-list">
                    <li>
                        <a
                            class="contact-link"
                            data-contact="address"
                            data-desktop-href="iletisim.html"
                            data-mobile-href="https://maps.app.goo.gl/6XMsSYJg9UtjD16WA"
                            href="iletisim.html">
                        Adalet Mahallesi Manas Bulvarı <br>Folkart Towers No:39 İçkapı No:3201 <br>Bayraklı/İzmir
                        </a>
                    </li>
                    <li>
                        <i data-lucide="mail"></i>
                        <a class="contact-link" data-contact="email" data-value="bilgi@bilalkilicenerji.com">bilgi@bilalkilicenerji.com</a>
                    </li>
                    <li>
                        <i data-lucide="phone"></i>
                        <a class="contact-link" data-contact="phone" data-value="0232 683 08 95">0232 683 08 95</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Bilal Kılıç Enerji Danışmanlık A.Ş. Tüm hakları saklıdır.</p>
        </div>
    </div>
</footer>
