<nav class="navbar">
        <div class="container">
            <div class="logo-container">
                <a href="index.html">
                    <img src="assets/img/logos/logo.png" alt="Logo" class="logo-img">
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="index.html">Anasayfa</a></li>
                <li><a href="hakkimizda.html">Hakkımızda</a></li>
                
                <li class="dropdown-parent">
                    <a href="hizmetler.html">Hizmetler ▾</a>
                    <ul class="dropdown">
                        <li><a href="iklim-kanunu.html">İklim Kanunu</a></li>
                        <li><a href="karbon-ayak-izi.html">Karbon Ayak İzi</a></li>
                        <li><a href="su-ayak-izi.html">Su Ayak İzi</a></li>
                        <li><a href="surdurulebilir-enerji.html">Sürdürülebilir Enerji</a></li>
                        <li><a href="enerji-verimliligi.html">Enerji Verimliliği</a></li>
                        <li><a href="akilli-sehir.html">Akıllı Şehircilik</a></li>
                        <li><a href="hava-kalitesi.html">Hava Kalitesi</a></li>
                        <li><a href="dijital-arsivleme.html">Dijital Arşivleme</a></li>
                        <li><a href="yol-haritasi.html">Kurumsal Yol Haritası</a></li>
                        <li><a href="kamu-hizmetleri.html">Kamu Hizmetleri</a></li>
                        <li><a href="ozel-sektor.html">Özel Sektör Hizmetleri</a></li>
                    </ul>
                </li>
                
                <li><a href="is-birligi.html">İş Birliği</a></li>
                <li><a href="iletisim.html" class="btn-cta">İletişim</a></li>
            </ul>

            <div class="menu-toggle">
                <i data-lucide="menu"></i>
            </div>
        </div>
    </nav>
